<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="jumbotron text-center">
  <h1>Django Eventlog Example</h1>
  <p><h2>Hello!!! Welcome to the simple example of django-eventlog.</h2></p> 
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-1">
      
    </div>
    <div class="col-sm-10">
      <h2>To see a demo of how the django-eventlog works, follow the following steps:</h2>
      <h3>
      <ul>
		<li>Go to the admin panel.</li>
		<li>Add/Update a milestone and transactions.</li>
		<li>Then take a look at the Logs section.</li>
		<li>You can see that whenever you add/update a milestone or transaction, a log is maintained.</li>
	  </ul>
	  </h3>
    </div>
    <div class="col-sm-1">

    </div>
  </div>
</div>

</html>